---
import BaseLayout from "../Layouts/BaseLayout.astro"
const name = "Roope Astrén";

---

<BaseLayout 
	title = "Roope Astrén Portfolio" 
	seoTitle = "" 
	seoDescription=""
	>

	<div class="mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4 md:w-8/12 w-11/12 lg:my-4 sm:my-0">
		<div id="left-main" class="text-center w-auto flex flex-col justify-center">
			<div class="uppercase">
				<p class="lg:text-5xl text-2xl text-center ">I am</p>
				<p class="lg:text-5xl text-2xl text-center">{name}</p>
			</div>
			<div id="typed-strings">
				<p>
					<span id="grade"></span>
				</p>
				<p>
					Python, HTML/CSS, Astro.js, C#/C++ and Unity
				</p>
			</div>
			<div class="text-center mt-6 max-h-0 ">
				<span id="Typed"></span>
			</div>
		</div>
		<div id="right-main" class="mt-2 lg:w-10/12 sm:w-full">
			<img src="/images/img1.png" width="100%" height="100%" alt="pic of me">
		</div>
	</div>
</BaseLayout>

<script>
	import Typed from "typed.js";
	const startDate = new Date('2022-9-1')
	const startYear = startDate.getFullYear();
	const graduationDate = new Date('2026-5-1');
	const graduationYear = graduationDate.getFullYear();
	const currentyear = new Date().getFullYear();
	let schoolYear = currentyear - startYear + 1;
	let YearsPassed = currentyear - graduationYear;
	if (schoolYear == 2) {
		const gradeElement = document.querySelector("#grade");
		if (gradeElement) {
			gradeElement.textContent = schoolYear + "nd year student at XAMK, Game programming";
		}
	} else if (schoolYear == 3){
		const gradeElement = document.querySelector("#grade");
		if (gradeElement) {
			gradeElement.textContent = schoolYear - 1  + "nd year student at XAMK, Game programming";
		}
	} else if (schoolYear > 3 && schoolYear < 5 ){
		const gradeElement = document.querySelector("#grade");
		if (gradeElement) {
			gradeElement.textContent = schoolYear + "th year student at XAMK, Game programming";
		}
	} else {
		const gradeElement = document.querySelector("#grade");
		if (gradeElement) {
			gradeElement.textContent = "I have already graduated " + YearsPassed + " years ago from XAMK";
		}
	}
	var typed = new Typed("#Typed", {
		stringsElement: "#typed-strings",
		typeSpeed: 50,
		loop: true,
		showCursor: false,
	});

</script>

<style>
	#Typed{
		font-size: 1.5rem;
	}
	@media (max-width: 719px) {
		#Typed{
			font-size: .8rem;
		}
		
		#ContactMe {
			display: none;
		}

		#left-main{
			margin-top: 1rem;
		}
	}

	@media (min-width: 1921px) {
		#right-main img {
			width: 90%;
		}
	}
</style>