---

---

<div class="lg:text-2xl text-base border rounded-r-lg rounded-l-lg border-none lg:p-3 p-2 relative duration-400 bg-gradient-to-r from-purple-600 to-cyan-500 hover:from-purple-700 hover:to-cyan-600">
    <a href="/Files/CV_EN_2023.pdf">
        Download my CV here
    </a>
</div>